VITE_FIREBASE_API_KEY="AIzaSyDM8QthgMOLPzO9K55J6PVFxW-qkJ9q7Uk"
VITE_FIREBASE_AUTH_DOMAIN="mitcourse-50d8d.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mitcourse-50d8d"
VITE_FIREBASE_STORAGE_BUCKET="mitcourse-50d8d.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID= "956655161706"
VITE_FIREBASE_APP_ID="1:956655161706:web:5c85b87b6d2beaa04d1513"
VITE_FIREBASE_MEASUREMENT_ID="G-51DJ2P561P"
